{% extends 'base.html.twig' %}

{% block title %}Stubborn - Accueil{% endblock %}

{% block body %}

<main>
  <div id="homeProduct" class="container">
    <div class="row">
      <div class="col-lg-4" style="border: solid black 2px">
        <img alt="" />
        <h2>Nom produit</h2>
        <p>Prix</p>
      </div>
    </div>
  </div>
</main>
{% endblock %}
