{% extends 'base.html.twig' %}

{% block title %}Stubborn - Accueil{% endblock %}

{% block body %}
<header class="container">
  <nav class="navbar d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">  
      <div class="row">
        <a href="{{path('app_home_page')}}" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <img src="{{asset('./img/Logo.png')}}" alt="logo" id="logo" style="width:150px"/>
        </a>
        <p style="margin-left:100px">Don't compromise on your look</p>
      </div>

      <div class="col-md-3 text-end">
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{{path('app_home_page')}}" class="nav-link px-2 link-dark link-underline-dark">Accueil</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">S'inscrire</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Se Connecter</a></li>
        </ul>
      </div>
    </nav>
</header>
<main>
  <div id="homeProduct" class="container">
    <div class="row">
      <div class="col-lg-4" style="border: solid black 2px">
        <img alt="" />
        <h2>Nom produit</h2>
        <p>Prix</p>
      </div>
    </div>
  </div>



</main>
{% endblock %}
