<footer class="container-fluid" style="border: solid black 2px; margin:10px;left: 0;bottom: 0;">
        <div class="d-flex justify-content-center">
            <div class="row text-center" style="width:45%; margin:10px">
                <p>Adresse:</p>
                <p>Picadilly Circus, London W1J 0DA, Royaume-Uni</p>
            </div>
            <div class="row text-center"  style="width:45%; margin:10px">
                <p>Contact:</p>
                <p>stubborn@blabla.com</p>
            </div>
        </div>
</footer>